*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.ap_
*.dex
*.class
*.log
*.jks
*.DS_Store

.gradle/
.idea/
bin/
gen/
out/
build/
proguard/
captures/


gradlew
gradlew.bat
signing.properties
gradle.properties
